* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}

:root {
    --btn-Cyan: hsl(171, 66%, 44%);
    --btn-Blue: hsl(233, 100%, 69%);
    --text-color: hsl(210, 10%, 33%);
    --nav-color: hsl(200, 6%, 81%);
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    min-width: 100vh;
}

main {
    width: 100%;
    margin: 0 auto;
}

header {
    padding:  100px 370px;
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
}

header img {
    width: 80px;
    height: 80px;
    margin: 20px;
}

.header-text {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    gap: 20px;
}

.btn {
    width: 220px;
    height: 45px;
    border: 0;
    margin: 8px;
    border-radius: 24px;
    color:#ffff;
    font-weight: 700;
}

.cyan {
    background-color: var(--btn-Cyan);
}

.blue {
    background-color: var(--btn-Blue);
}

p {
    font-size: 18px;
    color: var(--text-color);
}

.text {
    width: 630px;
    margin: 50px auto ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first-sec {
    display: flex;
    margin-top: 40px;
    margin-left: -26px;
    gap: 100px;

}

.text-aside {
    width: 300px;
    text-align: left;
    margin-top: 64px;
    line-height: 30px;
}

.device-img {
    width: 600px;
}

.boxes {
    display: flex;
    justify-content: center;
    margin: 70px;
    gap: 40px;
}

.box {
    width: 260px;
}

.box img {
    margin: 20px;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 53px;
    padding: 90px;
}

.logos img {
    width: 10%;
}

main footer {
    margin-bottom: 140px;
}

nav {
    min-height: 120px;
    display: block;
    background-color: hsl(200deg 40.91% 96%);
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 30%;
    margin: 25px;
}

.links {
    display: flex;
    gap: 40px;
    margin: 0 380px 0px 90px; 
}

.link {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px; 
}

.icons {
    display: flex;
    gap: 13px;
}

.icons img {
    width: 22%;
}

.link a {
    text-decoration: none;
    color: var(--text-color);
}

.attribution { 
    font-size: 11px;
    text-align: center;
    background-color: hsl(200deg 40.91% 96%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
 }

 @media (max-width:970px){

    header {
        padding: 100px 235px;
        
    }

    header img {
        width: 100px;
        height: 100px;
    }

    .first-sec, .boxes, .logos, .nav-container, .links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .first-sec {
       
    
    }

    .logos img {
        min-width: 25%;
    }

    .links {
        margin: 0;
        gap: 20px;
    }

    .link {
        align-items: center;
    }

    .icons {
        margin-top: 35px;
    }


    
 }